<h1><%= @snack.name %></h1>
<p>Price: $<%= @snack.price %><p>

<p>Locations: <% @snack.machines.each do |machine| %><p>
  <ul>
    <li><%= machine.location %></li>
    <li>$<%= machine.avg_snack_price %></li>
    <li><%= machine.snacks.count %></li>
  </ul>
    <% end %>
